@media screen and (min-width: 1024px) {
  /* Styles for desktops and larger screens */
  .container {
    width: 800px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 550px;
  }
  .headers {
    background: url("../assets/images/bg-sidebar-desktop.svg") center/ coverno-repeat;
    width: 50%;
    margin: 0 auto;
    height: 100%;
  }
  .sub-header {
    /* gap: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .Form1input {
    padding: 10px;
    width: 100%;
  }
  .forms {
    top: 0px;
    width: 100%;
    background: white;
    border-radius: 5%;
    padding: 10px;
    margin: 0 auto;
  }
  .footer {
    /* position: relative; */
    /* position: fixed; */
    /* top: -100%; */
    margin: 0;
    width: 100%;
    justify-content: space-between;
    border: 1px solid;
  }
  .sub-container {
    width: 50%;
    border: 1px so;
    /* border: 1px solid black; */
    /* height: 60vh; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    background: white;
  }
  .step-text {
    display: block;
    /* border: 1px solid; */
    width: 50%;
  }
  .sub-header-sub {
    display: flex;
    /* justify-content: space-between; */
    /* margin: 0; */
    align-items: center;
    width: 100%;
    margin: auto;
  }
  .go-back {
    /* padding: 15px; */
    text-decoration: underline;
  }
  button {
    /* padding: 10px; */
    color: white;
    background: darkblue;
    border-radius: 5px;
  }
}
